---
import "./PostCard.css";
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { title, description, publishDate, tags } = post.data;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}).format(publishDate);
---

<article class="post-card">
  <a href={`/posts/${post.slug}`} class="post-card__link">
    <div class="post-card__content">
      <time class="post-card__date" datetime={publishDate.toISOString()}>
        {formattedDate}
      </time>

      <h2 class="post-card__title">{title}</h2>

      <p class="post-card__description">{description}</p>

      {tags && tags.length > 0 && (
        <div class="post-card__tags">
          {tags.map((tag: string) => (
            <span class="post-card__tag">{tag}</span>
          ))}
        </div>
      )}
    </div>

    <div class="post-card__arrow" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>
</article>
